name: CI
on: 
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
jobs:
    unit-tests:
        runs-on: ubunto-latest
        steps:
            - uses: actions/checkout@v3   
            - uses: actions/setup-node@v3
              with:
                node-version: "18.x"
            - name: Execute unit tests
              run: npm i
            - run: npm run test
    e2e-tests:
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-node@v3
          with:
            node-version: 18
        - name: Install dependencies
          run: npm i
        - name: Install Playwright Browsers
          run: npx playwright install --with-deps
        - name: Install Playwright test
          run: npm install -D @playwright/test
        - name: Run Playwright tests
          run: npx playwright test
        - uses: actions/upload-artifact@v3
          if: always()
          with:
           name: playwright-report
           path: playwright-report/
           retention-days: 30